<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Cadastro - Acervo Digital</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">

</head>
<body class="tela-login">
  <div class="container">
    
    <div class="topo">
      <h1><span style="color: #ec5b5b;">ACERVO</span> DIGITAL</h1>
    </div>

    <div class="meio">
        <div class="formulario-cadastro">
            <h4>Crie sua conta gratuíta</h4>
            <form action="{{ url_for('cadastro') }}" method="POST">
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <div class="mensagens">
                    {% for message in messages %}
                      <p class="mensagem-alerta">{{ message }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
              {% endwith %}

              <label for="nome">Nome Completo</label>
              <input type="text" id="nome" name="nome" required>
          
              <label for="data-nascimento">Data de Nascimento</label>
              <input type="date" id="data-nascimento" name="data_nascimento" required>
          
              <label for="email">E-mail</label>
              <input type="email" id="email" name="email" required>
          
              <label for="senha">Senha</label>
              <input type="password" id="senha" name="senha" required>
          
              <label for="confirmar-senha">Confirmar Senha</label>
              <input type="password" id="confirmar-senha" name="confirmar_senha" required>
          
              <div class="tipo-usuario">
                <div class="opcoes">
                  <label><input type="radio" name="tipo_usuario" value="aluno" required> Sou Aluno</label>
                  <label><input type="radio" name="tipo_usuario" value="docente" required> Sou Docente</label>
                </div>
              </div>
          
              <button type="submit">Cadastrar</button>
            </form>
          </div>
          
    </div>

    <div class="rodape">
      Desenvolvido por: Alunos UNIVESP – Todos os direitos autorais reservados.
    </div>

  </div>
</body>
</html>
