<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Acervo Digital - Login</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap" rel="stylesheet">

</head>
<body class="tela-login">
	<div class="container">

		<!-- TOPO -->
		<div class="topo">
			<h1><span style="color: #ec5b5b;">ACERVO</span> DIGITAL</h1>
			
		</div>

		<!-- MEIO -->
		<div class="meio">
									
			<div class="formulario-login">
				<h4>Acesse sua conta</h4>
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						<div class="mensagens">
							{% for message in messages %}
								<p class="mensagem-alerta">{{ message }}</p>
							{% endfor %}
						</div>
					{% endif %}
				{% endwith %}
				<form action="{{ url_for('login') }}" method="POST">
				  <label for="email">E-mail</label>
				  <input type="email" id="email" name="email" required>
			  
				  <label for="senha">Senha</label>
				  <input type="password" id="senha" name="senha" required>
			  
				  <button type="submit">Acessar</button>

			 
				</form>
				<p class="link-criar-conta">
					Ainda não tem acesso? <a href="{{ url_for('cadastro') }}">Crie sua conta</a>
				</p>
				
				<!-- Link para recuperação de senha -->
				<p class="link-esqueceu-senha">
					<a href="{{ url_for('recuperar_senha') }}">Esqueceu sua senha?</a>
				</p>

			  </div>
			  
			
		</div>

		<!-- RODAPÉ -->
		<div class="rodape">
			Desenvolvido por: Alunos UNIVESP – Todos os direitos autorais reservados.
		</div>

	</div>
</body>
</html>
